:root {
    --color-green: #0faf51;
    --color-green-dark: #0e9e49;
    --color-orange: #e19a11;
    --color-black: #000000;
    --color-gold: #ffa902;
    --color-title: #192638;
    --color-blue-dark: #20155f;
    --color-body: #484545;
    --color-white: #ffffff;
    --color-white-dark: #ededed;
    --color-white-bg: #F4F6FA;
}
