/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset default style */

// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */

body {
  background: #f2f2f2;
  color: var(--color-body);
  position: relative;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}

img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

input,
textarea {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: var(--color-white);
  font-family: "Poppins", sans-serif !important;
}

p {
  line-height: 24px;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h6 {
  font-weight: 600;
  line-height: 40px;
}

h5 {
  font-weight: 400;
  line-height: 20px;
}

h4 {
  font-weight: 400;
  line-height: 24px;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 2.5rem;
  h6 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #20155f;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif !important;
    span {
      color: var(--color-orange);
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
      line-height: 40px;
      text-align: center;
    }
  }
  p {
    // font-size: 18px;
    // line-height: 32px;
    font-size: 0.875rem;
    color: #686868;
    @media screen and (min-width: 991px) {
      width: 650px;
      text-align: center;
      margin: auto;
    }
    @media screen and (max-width: 767px) {
      text-align: center !important;
    }
  }
  .links {
    color: var(--color-blue-dark) !important;
    font-weight: 500;
    @media screen and (max-width: 767px) {
      text-align: center !important;
      margin: auto;
    }
  }
}

.sectionPadding {
  padding: 70px 0px;
  @media only screen and (max-width: 768px) {
    padding: 30px 0px;
  }
}
.sectionMargin {
  margin: 70px 0px;
  @media only screen and (max-width: 768px) {
    margin: 30px 0px;
  }
}
.wrapper {
  padding-top: 60px;
}
@media screen and (min-width: 991px) {
  .container {
    width: 80%;
  }
}
button {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.btn-play {
  background: #e19a11 !important;
  border: 2px solid #20155f;
  border-radius: 44px;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin: auto;
  display: flex;
  width: fit-content;
  &:hover {
    color: white !important;
    background-color: var(--color-blue-dark) !important;
  }
}
.close-btn {
  background: var(--color-orange);
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.btn {
  line-height: 16px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.btn-primary {
  font-size: 13px !important;
  color: var(--color-white);
  padding: 8px 0.75rem;
  border-radius: 9px;
  background: var(--color-orange) !important;
  border: none;
}
.btn-success {
  padding: 0.75rem 1.4rem;
  box-shadow: 0px 4px 32px -4px rgba(56, 71, 95, 0.2);
  border-radius: 6px;
  background-color: var(--color-green);
  text-align: center;
  display: flex;
  align-items: center;
  width: fit-content;
}
.btn-send {
  border: 1px solid #20155f;
  border-radius: 10px;
  padding: 10px 20px;
  &:hover {
    background-color: var(--color-blue-dark) !important;
    color: white !important;
  }
}

.socail-links {
  ul {
    li {
      margin-left: 0.75rem;
      i {
        font-size: 1.52rem;
      }
    }
    li {
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.video {
  display: flex;
  justify-content: center;
  .video__inner {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    width: 100%;
    video {
      width: 100%;
      height: 400px;
    }
    img {
      width: 100% !important;
      height: 400px;
      z-index: -1;
      object-fit: cover;
      @media screen and (max-width: 767px) {
        height: 100%;
      }
    }
    .video_btn {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      z-index: 1;
      top: 45%;
      i {
        transition: all 0.3s ease-in-out;
        font-size: 80px;
        color: var(--color-white);
      }
      &:hover {
        i {
          color: var(--color-orange);
        }
      }
    }
  }
}
// .box__wrapper {
//   background: #ffffff;
//   border: 1px solid #f2f2f2;
//   box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.04);
//   border-radius: 9px;
//   padding: 2rem;
//   @media screen and (max-width: 767px) {
//     padding: 1rem;
//   }
// }
